<div class="jumbotron text-center">
    <h1 class="display-2">About</h1>
    <p class="lead">This is simple Website Designe by tulsee ram ghimire. Using Node.js/Express</p>
    <p class="lead">Version 1.0.0</p>
</div>